html {
	font-family: 'Open Sans', sans-serif;

}

header {
	height:700px;
	background: url(../images/city.gif) no-repeat center center fixed;
	background-size: cover;

}


	nav {
		float: right;
		margin: 30px 30px 0 0;
	}

	/*.logo{
		font-size: 50px;
		background: #999;
		float: left;
	}*/

	nav a {
		display: inline-block;
		margin-left: 20px;

		color: #AC9239;
		font-size: 14px;
		font-weight: 700px;
		text-transform: uppercase;
	}

		a:hover {
				position: relative;
				transition-property: background-color, color;
			  transition-duration: 1s;
			  transition-timing-function: ease-out;
			  background-color:#AC9239;
			  color:white;
			  box-shadow: 2px 2px 1px black;
				border-radius: 3px;
				text-decoration: none;
			}



	 h1 {
		text-align: center;
		font-size: 73px;
		font-weight: 700px;
		color: white;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		margin-bottom: 20px;
		padding-top: 100px;
	}

	div #opac h2 {
		background: rgba(200, 54, 54, 0.2);
	}

	article p {
		position: relative;
		-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap:40px;
    -moz-column-gap:40px;
    column-gap:40px;

    -webkit-column-rule: 4px outset rgba(200, 54, 54, 0.2); /* Chrome, Safari, Opera */
    -moz-column-rule: 4px outset rgba(200, 54, 54, 0.2); /* Firefox */
    column-rule: 4px outset rgba(200, 54, 54, 0.2);
	}

	div #box img {
		height: 200px;
		width: 200px;
	}

		span {
			display: inline-block;
			padding: 0.2em 0.2em;
			border: white solid 10px;
		}

			/* front end title */
			.title {
				position: relative;
				transition-property: background-color, color;
			  transition-duration: 1s;
			  transition-timing-function: ease-out;
			}

			.title:hover {
				position: relative;
				transition-property: background-color, color;
			  transition-duration: 1s;
			  transition-timing-function: ease-out;
			  background-color:white;
			  color:black;
			  box-shadow: 2px 2px 1px black;
			}
			/* front end title */


		.kicker {

			text-align: center;
			font-weight:;
			color: white;
		}

		/*.kicker:hover {
				position: relative;
				transition-property: background-color, color;
			  transition-duration: 1s;
			  transition-timing-function: ease-out;
			  background-color:white;
			  color:black;
			  box-shadow: 2px 2px 1px black;
			} */

		 a:hover {
			color: black;
		}

.box-white {
	background-color: white;
	height: 1400px;
	position: relative;

}

	.column {	
		position: relative;
		-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3; /* internet explorer */
    -webkit-column-gap:40px;
    -moz-column-gap:40px;
    column-gap:40px;

    -webkit-column-rule: 4px outset rgba(200, 54, 54, 0.2); /* Chrome, Safari, Opera */
    -moz-column-rule: 4px outset rgba(200, 54, 54, 0.2); /* Firefox */
    column-rule: 4px outset rgba(200, 54, 54, 0.2);
	}


	/* Contact form section */
	#contact {
		height: 600px;
	}


.box-grey {
	background-color:#f3f3f2;
	height: 2700px;
	position: relative;
}

.padding-all {
	padding: 40px;
}

.wrapper {
	position: relative;
	margin: 0 auto;
}

  .last {
		background-color: #f3f3f2;  
	}

	.sample2	{
			height:1200px;
			width: 700px;
			background: 
	   url("../images/laugh.jpg") 500px 100px no-repeat, 
	   url("../images/haha.jpg") 10px 10px no-repeat;
/*	 	background:  url("../images/laugh.jpg") 10px 10px no-repeat;
*//*	 	background-image:  url("../images/haha.jpg") 600px 10px no-repeat;
*/    /*background-size: cover;
    background-position: center right , right;
    background-repeat: no-repeat;*/
}

	div button {
		margin-bottom: 40px;
		color: red;
		background-color: blue
	}

	#mydiv {
		
	}

	/* flex box sample css, to use this you need a container and items inside of it
	you can then say display flex and assign a flex value to each of them */
	.flexbox {

		display: flex; /*turns display into flexible wrapper */
		height: 1600px;
		flex-direction: column;
		width: 60%;
		border: 1px solid black;
		margin:0 auto;
		flex-wrap: wrap;
	}

	.box {
		
		color: white;
		border:white;

		font-size: 30px;
		text-align: center;
		text-shadow: 2px 2px 0 rgba(0,0,0,0.9);
	}

	.box {
		flex: 1;
		min-width: 25%;
		min-height: 50px;
	}

	.box p {
			font-size: 15px;
			}

	
		.box1 {background: red;}
		.box2 {background: white;}
		.box3 {background: blue;}
		.box4 {background: grey;}
		.box5 {background: purple;}
		.box6 {background: orange;}
		.box7 {background: green;}
		.box8 {background: black;}
		.box9 {background: white;}
		.box10 {background: violet;}
		
		.box {
	    border-width: 1px;
	    display: block;
	    
	    -webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
	    transition:width 2s, height 2s, background-color 2s, transform 2s;
		}

		/*  using nth-child  even .box turned light blue on hover, while odd 
		ones turned red on hover*/

		.box:hover:nth-child(even) {
				background-color: rgb(215, 248, 250);
 
			  -webkit-transform:rotate360deg);
		    transform:rotate(360deg);
		}

		.box:hover:nth-child(odd) {
				background-color: red;
/*				background-image: 
*/		   -webkit-transform:rotate360deg);
		    transform:rotate(360deg);
		}

		 .flexbox h2:hover {
				transition-property: background-color, color;
			  transition-duration: 1s;
			  transition-timing-function: ease-out;
			  background-color:#AC9239;
			  color:white;
			  box-shadow: 2px 2px 1px black;
				border-radius: 3px;
				text-decoration: none;
		}

footer {
	/*height: 200px;
	background: url(../images/city.gif) no-repeat center center;
	background-size: cover;*/

	height:200px;

	background: url(../images/city.gif)no-repeat center center fixed;
	background-size: cover; opacity:0.9;
	}

	
	.lockup	{
		padding: 30px;
		clearfix;
	}
			
		.content-wrap {
			float: left;

		}
			
			 .copyright {
					
					text-transform: uppercase;
					font-size: 12px;
					color: rgba(0,0,0,1);
				}

